# Videos
*.mp4
*.avi
*.mov
*.mkv

#Archivos BioLab
*.mwi
*.mwi-shm
*.mwi-wal
*.mwx
*.cfg

# Archivos grandes opcionales
*.zip

# Python
__pycache__/
*.pyc

# Entornos
.env
venv/

# Datos pesados (opcional si quieres excluir carpetas completas)
# data/

# Jupyter
.ipynb_checkpoints/