## Archivos ignorados por Git

Los siguientes archivos no se suben a GitHub porque son pesados o dependen del computador local:

```gitignore
# Videos
*.mp4
*.avi
*.mov
*.mkv

# Archivos BioLab
*.mwi
*.mwi-shm
*.mwi-wal
*.mwx
*.cfg
*.LabSuiteLog

# Archivos grandes opcionales
*.zip

# Python
__pycache__/
*.pyc

# Entornos
.env
venv/

# Jupyter
.ipynb_checkpoints/
